*{
    margin: 0;
    padding: 0;

}
body{
    width: 100vw;
    background-image: url(../backgroung/Color\ Fill\ 1\ 1@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    font-family: Inder;
    margin-top: 20px;
}


.navbar{
    display: flex;
    align-items: center;    
    margin-left: 5vw;
    margin-right: 5vw;   
}

.links{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
    margin-left: 35vw;
    gap: 3vw;
}

.links a{
    color: #FFF;
    font-family: Inder;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    text-decoration: none;
    
}

span{
    color: #DF621B;
}
